
#{
  margin: 0px;
  padding: 0px;
}
body{
  background: #444;
  color:#fff;


}
#Contenedor{
  width: 960px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
border-radius: 20px;
overflow: hidden;
}
header{
  height: 150px;
  background: #000;

}
header h1{
  font-size: 50px;
  text-align: center;
  line-height: 150px;

}
nav{

  height: 20px;
  margin:0px;

}

nav h2{
  font-size: 40px;
  text-align: center;
  line-height: 60px;


}
#contenido{
  width: 700px;
  height: 500px;
  float:left;
  background: #61a6ff;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}
#contenido h2{
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}
aside{
  width: 250px;
  background: green;
  height: 500px;
  margin-top: 10px;
  float: right;
}
aside h2{
  font-size: 20px;
  line-height: 20px;
  padding: 10px;

}
footer {
  background: #000;
  clear: both;


}
footer h2 {


  padding: 20px;
  font-style: italic;



}



#principal{
  width: 100%;
  height: 3%;
  border-radius: 1px solid #000000;
  margin: 0 auto;
  color:red;
  background: blue;
}
#cabezera{
  float: center;
  height: 10%;
  width: 98%;
  border: 1px solid #000000;
  margin: 2px;
  text-align: center;
  color:red;
  font-size:20px;
}

#menu{
  float:left;
  width: 45%;
  height: 75%;
  border: 1px solid;
  margin:15px;

}


#menu1{
  float:left;
  width: 45%;
  height: 75%;
  border: 1px solid;
  margin:15px;

}

#final{
  float:left;
  height: 4%;
  width: 100%;
  border: 1px solid;
  /*border-radius: 1px solid #000000;*/
  margin: 5px auto;
  color:ffffff;
  background: red;
}
